.main{
    margin-top: 200px ;
}
.imagen{
    border: 1px solid red;
    margin-left: 120px;
}

.info{
    border: 1px solid red;
    width: 50%;
    text-align: justify;
    color: white;
    font-size:large;

}